#ifndef CREDENTIALS_H
#define CREDENTIALS_H
// Put your values here and rename to credentials.h, dont forget to check if credentials.h in .gitignore  

#define ssid "wifi ssid name"
#define password "wifi ssid name"

#endif